/* General */
body {
    font-family: Verdana, sans-serif;
}

/* Homepage  */

#main,
#main2 {
    text-align: center;
}

.center-links {
    text-align: center;
}

#main {
    color: red;
}

#main2 {
    color: blue;
}

/* for Image */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}