/* General */
body {
    font-family: "Verdana", Arial, sans-serif;
}

/* Homepage  */

#main {
    text-align: center;
}

.center-links {
    text-align: center;
}

#main {
    color: red;
}

#main.head {
    color: blue;
}

/* for Image */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Recipe pages */

#content {
    text-align: center;
    margin: 20px;
}

.components {
    margin-left: 20px;
}

.text-border {
    background-color: lightgray;
    margin: auto;
    border: 2px solid lightgray;
    border-radius: 12px;
    width: 40%;
    padding: 15px;
}

.adjust {
    line-height: 25px;
}

p.adjust {
    margin: 30px;
}

li {
    margin: 20px;
}




